dash==1.18.0
numpy==1.17.4
networkx==2.5
polyline==1.4.0
ipyleaflet==0.13.3
dash_html_components==1.1.1
dash_core_components==1.14.0
pandas==1.1.5
geopandas==0.8.1
dash_table==4.11.1
Shapely==1.7.1
Flask==1.1.2
dash_extensions==0.0.55
osmnx==0.16.2
folium==0.12.1
ortools==8.1.8487
requests==2.22.0
plotly==4.4.1
osrm_py==0.5
osrm==0.11.3
